header {
    text-align: center;
}

body {
    background-color: darkgrey; 
}

nav {
    text-align: center;
}

#section-one {
    background-color: red;
    text-align: center; 
}

#section-two {
    background-color: black;
    color: white;
    text-align: center;
}

#section-three {
    background-color: red;
    text-align: center;
}

img.image-one {
    max-width: auto;
    height: 800px;
    width: 1887px;
}

img.image-two {
    max-width: auto;
    height: 1000px;
    width: 1887px;
}

img.image-three {
    max-width: auto;
    height: 800px;
    width: 1887px;
}